BODY {
}

#top {
    margin: 0 auto;
    /*background-color: #E0DADC;*/
    height:30px;
    width: 960px;
    padding-bottom:100px;

}

#inputValue {
   width:60px;
   margin-left:20px;
}

#questionText {
    font-size: 100%;
    margin-left: 10px;
}

#faqly {
    text-align:center;
    font-size: 450%;
    font-family: 'Open Sans';
}

#histogram {
width:300px;
height:300px;
}

#finished {

}

.questionBox {
    margin-top:50px;
    border-style: solid;
    border-color: #B5B5B5;
    border-width: 1px;
    width:960px;
    height:1000px;
}

.faqHelper {
    margin-top:10px;
    text-align:center;
    font-size: 220%;
}

#menu{
    margin-top:10px;
}

#editQBox {
    border-style: solid;
    border-width: 1px;
    width:200px;
    height:50px;
}

#hidden {
   display:none;
}

.edit {
   margin-top:20px;
}

#waitingSpinner {
    display: none;
    width: 50%;
    margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}


#center-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}​

